.bc-has-danger,
.bc-has-success,
.bc-has-inform {
  font-size: 1rem;
  line-height: 1.25;
  padding: .5rem .75rem;
  border: 2px solid #ccc;
  border-radius: .25rem;
  margin-bottom: 1rem;
}

.bc-has-danger {
  color: #d9534f;
  border-color: #d9534f;
}

.bc-has-success{
  color: #5cb85c;
  border-color: #5cb85c;
}

.bc-has-inform {
  color: #333;
  background-color: #f5f5f5;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.barcode-table {
  table-layout: fixed;
  width: 100%;
}

.bc-text-center {
  text-align: center;
}

.bc-th-left {
  text-align: left;
  padding-left: 1rem;
}

.bc-th-center {
  text-align: center;
}

.bc-th-right {
  text-align: right;
  padding-right: 1rem;
}

.bc-td-position {
  position: relative;
}

@media screen and (max-width: 460px) {
  .bc-sm-hide {
    display: none;
  }
}

.bc-success:after,
.bc-fail:after,
.bc-revert:after {
  position: absolute;
  top: 10px;
  right: 38px;
  content: ' ';
  width: 24px;
  height: 24px;
  padding-right: 6px;
}

.bc-success:after {
  background: url([[pix:local_barcode|bc-success]]) no-repeat;
}

.bc-fail:after {
  background: url([[pix:local_barcode|bc-fail]]) no-repeat;
}

.bc-revert:after {
  background: url([[pix:local_barcode|bc-revert]]) no-repeat;
}

.bc-islate {
  color: #d9534f;
}

.bc-ontime {
  color: #5cb85c;
}

.bc-form {
  margin: 1rem auto;
}

.bc-combined-counts {
  display: inline-block;
  margin-left: 1em;
  vertical-align: top;
}

.bc-success-inline {
  color: #5cb85c;
}

.bc-error-inline {
  color: #d9534f;
}

.bc-inform-inline {
  color: #888;
}

@media screen and (max-width: 768px) {
  div#fitem_id_reverttodraft.fitem.fitem_fadvcheckbox.bc-form-item > div.fitemtitle,
  div#fitem_id_submitontime.fitem.fitem_fadvcheckbox.bc-form-item > div.fitemtitle,
  div#fitem_id_multiplescans.fitem.fitem_fadvcheckbox.bc-form-item > div.fitemtitle {
    max-width: 265px;
  }

  div#fitem_id_reverttodraft.fitem.fitem_fadvcheckbox.bc-form-item > div.felement.fadvcheckbox,
  div#fitem_id_submitontime.fitem.fitem_fadvcheckbox.bc-form-item > div.felement.fadvcheckbox,
  div#fitem_id_multiplescans.fitem.fitem_fadvcheckbox.bc-form-item > div.felement.fadvcheckbox {
    width: 20%;
    margin-top: 4px;
  }

  input#id_reverttodraft,
  input#id_submitontime,
  input#id_multiplescans {
    margin-top: 2px
  }
}
